
// Mixins
@import "_variables.scss";

// Mixins
@import "_mixins.scss";

//@import "~normalize.css/normalize.css";

* {
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;

}

