@import "_material_colors.scss";

@mixin product-reference($text-color: $product-reference-color) {
  color: $text-color;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.2em;
  text-rendering: optimizeLegibility;
}

@mixin product-reference-light($text-color: $product-reference-color-light) {
  @include product-reference($text-color);
}

@mixin product-brand {
  color: $md-teal-700;
  font-family: $primary-font;
  font-weight: normal;
  line-height: 1.1;
  font-size: 1.2em;
}

@mixin product-serie-badge($badge-color: $md-blue-700, $text-color: $md-white, $border-color: transparent) {
  display: inline-block;
  font-weight: normal;
  line-height: 0.8;
  text-align: center;

  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid $border-color;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border-color: $border-color;
  background-color: $badge-color;
  font-size: .800rem;
  color: $text-color;
}

@mixin product-badge($badge-color: $md-blue-700, $text-color: $md-black, $border-color: transparent, $opacity: 1, $text-opacity:0.9) {
  display: block;
  position: relative;
  //opacity: $opacity;


  //.tooltip-toggle {
  &::after {
    content: attr(aria-label);
    display: block;
    position: absolute;
    top: 28px; left: 10px;
    opacity: 0;
    overflow-wrap: break-word;
    z-index: +1;
    border-radius: 5px;
    width: 150px;
    font-size: 11px;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0,0,0,0.8);

    color: #fff;
    text-align: center;
    pointer-events: none; /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 18px; left: 20px;
    opacity: 0;
    z-index: +1;
    width: 0; height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0,0,0,0.8);
    transition: opacity 250ms, top 250ms;
  }

  //Triggering the transition
  &:focus::before, &:focus::after, &:hover::before, &:hover::after {
    opacity: 0.9;
    transition: all 0.75s ease;
  }


  span {
    display: inline-block;
    font-weight: normal;
    line-height: 0.8;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;


      padding: 0.4em;
      border-radius: 0;
      border-bottom: 3px solid $badge-color;

    z-index: 30;
    //background-color: $badge-color;
    font-size: 0.8em;
    color: $text-color;
    margin-bottom: 2px;
    opacity: 1;
    background-color: rgba($md-white, 0.8);



  }

}

@mixin product-badge-price($text-color: $md-black, $background-color: $md-white, $border-color: #ccc, $opacity: 1) {

  color: $text-color;
  display: inline-block;
  font-weight: normal;
  color: $md-grey-800;
  /*line-height: 1.20;*/
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  user-select: none;
  border: 1px solid $border-color;
  /*padding: 0.25rem 0.5rem;*/
  padding: 5px 5px 5px 8px;
  font-size: 1.1em;
  border-radius: 0rem;
  font-size: .950rem;
  opacity: $opacity;
  text-align: right;



  /*
  &:before {
    font-size: 8px;
    position: absolute;
    content: attr(data-text-footer);
    top: 20px;
    right: 2px;
  }*/
  /*
  &:after {
    font-size: 8px;
    position: absolute;
    content: attr(data-text-header);
    top: 2px;
    right: 25px;
  }
*/


}

@mixin battery(
  $battery-percent: 10%,
  $battery-status-color: $md-red-300,
  $battery-width: 30px,
  $battery-height: 12px,
  $battery-padding: 0px,
  $battery-border-color: $md-grey-800,
  $battery-text-color: $md-black
) {

  display: inline-block;
  margin-right: 0px;
  position: relative;
  width: $battery-width;
  height: $battery-height;
  background: $md-white;
  border: solid 1px $battery-border-color;
  border-radius: 2px;
  padding: $battery-padding;
  transform-style: preserve-3d;

  &::before {
    content: "";
    display: block;
    height: $battery-height - 4;
    margin-top: 1px;
    margin-left: 1px;
    border-radius: 2px;
    width: $battery-percent;
    background: $battery-status-color;
  }

  &::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: $battery-height / 3;

    background: inherit;
    border: inherit;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;

  }
  span {
    position: absolute;
    display: inline;
    line-height: $battery-height - 1;
    top: 0px;
    vertical-align: text-top;
    margin: 0;
    right: 2px;
    font-size: 11px;
    color: $battery-text-color;
  }

}

@mixin menu-group-vertical {

  .menu-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .btn .fa {
      font-size: .875rem;
      position: relative;
      vertical-align: bottom;
      color: $md-grey-800;
      margin: 0;
      padding: 0;
    }

    > .btn {
      border: 1px solid $md-grey-400;
      border-radius: 3px;
      box-shadow: none;
      padding: 5px 10px 5px 10px;
      background-color: white;
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      margin: 0;

      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.7;
      }

      // Bring the "active" button to the front
      &:focus,
      &:active,
      &.active {
        z-index: 2;
      }

      // Clearfix

      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      &:first-child:not(:last-child) {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:last-child:not(:first-child) {
        margin-top: -1px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }

      &:hover {
        background-color: $md-grey-100;
      }

    }

  }

}