@import "_material_colors.scss";

$primary-font: "Roboto", "Helvetica", "Open Sans", "Noto", "Tahoma";

$product-reference-color: $md-light-blue-800;
$product-reference-color-light: $md-light-text-primary;


