@import "_material_colors.scss";

$primary-font: "Roboto", "Helvetica", "Open Sans", "Noto", "Tahoma";
//$primary-font: "Open Sans", "Noto", "Helvetica", "Open Sans", "Noto", "Tahoma";

$product-reference-color: $md-light-blue-800;
$product-reference-color-light: $md-light-text-primary;


$color-fresh: #b579d2;

/* flexbox layout */

$flexbox-layout-space: 0em;
$flexbox-layout-space-lg: 0em;
$flexbox-layout-bg-color: hsl(150, 45%, 50%);

