@import "_base.scss";

.product-search-load-more {

  align-content: stretch;
  width: 100%;
  margin: 0;
  padding: 5px 5px 5px 5px;

  //margin: 15px 5px 25px 5px;
  color: $md-grey-800;
  position: relative;
  text-align: center;
  font-size: 1.2em;
  justify-content: center;

  .load-more-button {
    display: inline-block;
    border: 1px solid $md-grey-400;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    background-color: $md-blue-500;
    color: $md-grey-100;
    opacity: 0.9;

    &:hover {
      //background-color: $md-blue-600;
      opacity: 1;
      cursor: pointer;
    }
    .load-more-detail {
      font-size: 0.7em;
    }
  }

}



