@import "_base.scss";

.product-search-no-result {
  /*
  box-shadow:
  -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  */

  align-content: stretch;
  height: 100px;
  width: 100%;
  padding: 15px;

  color: $md-grey-800;
  position: relative;
  text-align: left;
  font-size: 1.1em;
  justify-content: center;

  &:before {
    /*
    content: '\f05e';
    font-family: FontAwesome;
    display: inline-block;
    font-size: 5em;
    opacity: 0.2;
    text-align: center;
    color: $md-grey-800;
    top: 25px;
    position: absolute;
    */
  }

}


