@import "_base.scss";
@import "product_stock";
@import "product_search_no_result";
@import "product_search_load_more";

.product-search-container {

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  .product-search-loader-container {

    @import "loader_bar";

    &.disabled {
      display: none;
      .loader-circle {
        animation: none;
        display: none;
      }
    }
    display: block;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    z-index: 100;
    right: 0;
    height: 80px;
    text-align: right;
    position: absolute;
    padding: 5px 15px 5px 5px;
    .loader-circle {
      display: inline-block;
      position: relative;
      right: 10px;
      content: "cool";
      top: 10px;
      z-index: +1;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
  }
}

.product-search-results-container {
  font-family: $primary-font;
  display: flex;

  /*background-color: rgba(60,60,60, 0.1);*/
  /*
  background: linear-gradient(135deg, #fff, #999);
*/
  width: 100%;
  //border: 1px solid black;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  align-items: stretch;

  box-sizing: border-box;

  @import "product_card";

  /* Normal screen -> 3 columns */
  @media screen and (max-width: 1000px) {


    .product-card-wrap {
      flex-grow: 1;
      width: 32%;
    }

  }
  /* Tablet screen -> 2 columns */
  @media screen and (max-width: 800px) {
    padding: 5px 5px 5px 5px;
    .product-card-wrap {
      flex-grow: 1;
      width: 49%;
    }
  }

  /* Mobile screen -> 1 column */
  @media screen and (max-width: 670px) {
    background-color: $md-grey-100;

    .product-card-wrap {
      flex-grow: 1;
      width: 100%;
      margin: 3px 3px 5px 3px;
      border-radius: 3px;

      /*
      box-shadow: none;
      border: 1px solid $md-grey-300;
      */
    }
  }

  /* Large screen -> 4 columns */
  @media screen and (min-width: 1000px) {

    .product-card-wrap {
      flex-grow: 1;
      width: 32%;
    }
  }

  /* Large screen -> 4 columns */
  @media screen and (min-width: 1200px) {

    .product-card-wrap {
      flex-grow: 1;
      width: 23%;
    }
  }

  /* Very large screen -> 6 columns */
  @media screen and (min-width: 1600px) {
    .product-card-wrap {
      flex-grow: 1;
      width: 15%;
    }
  }

}

@media print {
  .product-search-results-container {
    -webkit-print-color-adjust: exact;
    display: table;
    vertical-align: text-top;
    background-color: $md-white;
    .product-card-wrap {
      vertical-align: text-top;
      /* not printing inner menu */
      .inner-menu {
        display: none;
      }

      /* prevent hover on image */
      .product-card-image {
        img {
          transform: none !important;
        }
      }

      .product-bestseller-badge, .product-fresh-badge,
      .product-deal-badge, .product-popular-badge,
      .product-new-badge, .product-promo-badge,
      .product-liquidation-badge {
        padding: 0px;
        span {
          padding: 4px 2px 2px 2px !important;
          font-size: 8px;

        }
      }

      /* prevent printing of flipped front */
      .flipped {
        transform: none;
      }

      .product-card-front {
        page-break-inside: avoid;
      }

      .product-card-back, .btn-group {
        display: none;
      }

      .product-badge-price {
        &:after, &:before {
          display: none;
        }
      }

      border: 1px solid $md-grey-300;
      width: 23%;

      zoom: 0.7;
      display: inline-block;

      .product-badge-price {
        &:after {
          display: none !important;
        }
      }
    }
  }

}
