@import "_base.scss";

.product-search-load-more {

  align-content: stretch;
  width: 100%;
  padding-top: 15px;
  margin-bottom: 15px;
  color: $md-grey-800;
  position: relative;
  text-align: center;
  font-size: 2em;
  justify-content: center;


}


