@import "_base.scss";


.stock-badge {

  .level-0-empty {
    @include battery(5%, $md-red-800);
  }
  .level-1-low {
    @include battery(20%, $md-orange-800);

  }
  .level-2-normal {
    @include battery(33%, $md-green-500);
  }
  .level-3-high {
    @include battery(66%, $md-green-700);
  }
  .level-4-full {
    //@include gauge(0,120);
    @include battery(95%, $md-green-700);

  }
  .value {
      position: absolute;
      font-size: 11px;
      top: 0;
      left: 0;

  }
}




.product-list-container {
  font-family: $primary-font;
  display: flex;
  /*background-color: rgba(60,60,60, 0.1);*/
  /*
  background: linear-gradient(135deg, #fff, #999);
*/
  flex-wrap: wrap;

  align-items: stretch;
  margin: 0 auto;
  box-sizing: border-box;

  .product-card-wrap {
    /*border: 1px solid rgba(0,0,0, 0.4);*/
    display: flex;
    margin: 5px 5px 5px 5px;
    flex-grow: 1;
    background-color: white;
    width: 31%;

    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
    border-radius: 0px;

    .flipped {
      transform: rotateY(180deg);
    }

    .product-card-container {

      display: flex;
      flex-grow: 1;

      /**
       * flipping card
       */
      .product-card-flipper {
        flex-grow: 1;
        transition: 0.7s;
        transform-style: preserve-3d;
        position: relative;
        display: flex;

      }

      .product-card-front, .product-card-back {
        backface-visibility: hidden;
        position: relative;
        flex-grow: 1;

        top: 0;
        bottom: 0;
        left: 0;
      }

      .product-card-front {
        /*align-content: center;*/
        position: relative;
        z-index: 2;
      }

      .product-card-back {
        position: absolute;
        transform: rotateY(180deg);
        background: white;
        z-index: 3;
        height: 100%;
        width: 100%;

      }


      .product-card-image {

        align-items: baseline;
        text-align: center;
        position: relative;
        height: 170px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        background-color: transparent;
        overflow: hidden;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          /*
          box-shadow: -1px -4px 30px 20px rgba(58, 40, 58, 0.03) inset;
          */
          /*overflow: hidden;*/
        }

        &:hover, &:focus {
          box-shadow: inset 1px 1px 5px 10px rgba(60,60,60, 0.05);

        }

        .product-new-badge {
          @include product-badge($md-blue-700);
        }
        .product-promo-badge {
          @include product-badge($md-green-700);
        }
        .product-liquidation-badge {
          @include product-badge($md-red-700);
        }

        .bottom-right-zone {
          bottom: 2px;
          right: 5px;
          z-index: 11;
          position: absolute;
          width: 30%;
          height: auto;
          text-align: right;
          box-shadow: none;
        }

        .top-left-zone {
          top: 2px;
          left: 2px;
          z-index: 11;
          position: absolute;
          width: 30%;
          height: auto;
          opacity: 1;
          box-shadow: none;
          &:hover {
            opacity: 0.8;
          }
        }

        img {
          margin-top: 5px;
          position: relative;
          z-index: 4;
          max-width: 80%;
          max-height: 95%;
          vertical-align: middle;
          transition: all .4s ease-in-out;
          transform: scale(1);
          &:hover, &:focus {
            transform: scale(1.8) rotate(-7deg);
            z-index: 10;
            cursor: pointer;
          }
        }


      }

      .product-card-content {

        padding: 5px 5px 5px 5px;

        /*background-color: #373a3c !important;*/
        background: rgba(55,58,60,0.9);
        background-image: radial-gradient(circle, rgba(255, 255, 255, 0.15), transparent);
        background-repeat: no-repeat;
        color: white;

        height: 80px;
        overflow: hidden;
        text-wrap: normal;
        /*transform: rotate(-2deg);*/
      }

      .product-card-footer {
        background-color: #3e4551;
        color: #fff;
        position: relative;
        height: auto;
        text-align: center;
        padding: 10px;
        ul {
          font-size: 0.9rem;
          margin-bottom: 0;
          padding: 0;
          margin-top: 0;
          li {
            display: inline;
            list-style-type: none;
          }
        }
      }

      .product-reference {
        @include product-reference();
        font-size: 1.1em;

      }
      .product-brand {
        @include product-brand();
        font-size: 1em;;
        float: right;
      }
      .product-title {
        font-size: 1em;
      }

      .product-description {
          width: 100%;
          height: 80px;
          margin: 0;
          padding: 0;
          position: relative;
          overflow-y: scroll;
          overflow-wrap: normal;

      }

    }

  }

}


