
.tooltip-toggle {
  cursor: pointer;
  position: relative;

  &::after {
    content: attr(aria-label);
    display: inline-block;
    position: absolute;
    top: 28px; left: 0;
    opacity: 0;
    overflow-wrap: break-word;
z-index: 40;
    width: 200px;
    font-size: 11px;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0,0,0,0.8);
    color: #fff;
    pointer-events: none; /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 18px; left: 15px;
    opacity: 0;
    width: 0; height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0,0,0,0.8);
    transition: opacity 250ms, top 250ms;
  }

  //Triggering the transition
  &:focus::before, &:focus::after, &:hover::before, &:hover::after {
    opacity: 1;
    z-index: 40;
    transition: all 0.75s ease;
  }
}