@mixin my-border($color) {
  border: 1px solid $color;
}
@mixin hover-state {
  &:hover, &:active, &:focus {
    @content;
  }
}

.dealer_locator_list {
  height: 500px;
  overflow-y: scroll;
  font-family: Roboto, Helvetica, Verdana, sans-serif;
  padding-left: 0px;

  ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0px;
  }
  /**
   * Some dealers are official
   * country distributors
   * Let's see how to make them appear
   */
  .dealer_country_distributor {
    background-color: yellow;
  }

  li {
    &:hover {
      background: #eee;
      cursor: pointer;
    };
    padding: 10px;
    overflow: auto;
    vertical-align: top;
    border-bottom: 1px solid grey;
    .dealer_map_marker {
      width: 40px;
      height: 40px;
      background: url("data:image/svg+xml;utf8,<svg viewBox='0 -10 60 60' height='48' width='48' xmlns='http://www.w3.org/2000/svg' baseProfile='basic'><path d='M24 0c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z' stroke='%231998F7' stroke-width='4' fill='%231998F7' fill-opacity='0.6' scale='0.7' /></svg>");
      background-size: cover;
      display: inline-block;
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 0px;
      padding-bottom: 2px;
      font-weight: normal;
      font-size: 22px;
      font-family: "Roboto, HelveticaNeue Tahoma";

      a {
        color: black;
        &:link {
          text-decoration: none;
        }
        &:visited {
          color: black;
        }

      }
    };



    .dealer_address {
      .dealer_name {
        font-size: 2em;
        font-weight: bold;
      }
    }

    .dealer_contact {
      span {
        font-weight: bold;
      }
    }
    .dealer_distance {
      float: right
    }
  }
}