$color: white;

@mixin my-border($color) {
  border: 1px solid $color;
}

/*
body {
  background: $color;
  @include my-border(white);
}
*/
/*
.item {
  display: flex;
  flex-flow: row wrap;
}
*/

@mixin hover-state {
  &:hover, &:active, &:focus {
    @content;
  }
}

.dealer_locator_widget {
  //border: 1px solid black;
}

.dealer_locator_widget_controls {

  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.40);
  background-color: white;
  width: 50%;

  .dealer_locator_control_autocomplete {
    @include hover-state {
      border-color: #6699cc;
      // width: 500px;
      // backgound-color: #FF0000;
    }
    font-family: Roboto;
    font-size: 13px;

    border: 1px solid #cccccc;
    border-radius: 3px;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    outline: medium none;
    padding-left: 10px;

    width: 100%;

  }
/* search icon in autocomplete input*/
  .ac-input-icon {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    bottom: 0;
    outline: medium none;
    position: absolute;
    right: 16px;
    top: 0;
    .ac-input-icon-pin {
      cursor: initial;
    }
    svg {
      fill: #cfcfcf;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .ac-cursor {
    background: #efefef none repeat scroll 0 0;
    .ac-suggestion-icon {
      svg {
        fill: #aaaaaa;
        transform: scale(1) translateY(2px);
      }
    }
  }

}



