$color: white;

@mixin my-border($color) {
  border: 1px solid $color;
}


@mixin hover-state {
  &:hover, &:active, &:focus {
    @content;
  }
}

.dealer_locator_widget {
  //border: 1px solid black;
}

.dealer_locator_widget_controls {

  .dealer_locator_control_autocomplete {
    @include hover-state {
      border-color: #4d90fe;
      // width: 500px;
      // backgound-color: #FF0000;
    }
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0 11px 0 5px;
    text-overflow: ellipsis;
    width: 300px;
  }

}

